/node_modules
/.tmp
/.sass-cache
/bower_components

# ide
.idea/
*.iml

# constant module dinamically generated
/app/scripts/config/environment.config.js
#/env/config-common.json

# comment this to deploy on heroku
/dist
