<div class="row control-group">
  <div class="form-group col-xs-12 floating-label-form-group" show-errors
    data-ng-class="{'floating-label-form-group-with-focus': hasFocus, 'floating-label-form-group-with-value': hasValue}">
    <label>{{label | translate}}</label>
    <textarea class="form-control" data-ng-focus="hasFocus=true" data-ng-blur="hasFocus=false"
      placeholder="{{label | translate}}" id="{{id || name}}" name="{{name}}" rows="{{rows}}"
      data-ng-change="onChange()" data-ng-model="value"></textarea>
  </div>
</div>
