// custom

body {
  font-size: 15px;
}

@mixin bg-bd-color($color) {
  background-color: $color;
  border-color: $color;
}

nav.navbar.navbar-default.navbar-fixed-top {
  @include bg-bd-color($brand-primary);
  //padding-top: 5px;
  //padding-bottom: 5px;

  .navbar-brand {
    padding-top: 10px;
    font-size: 2em;
  }

  .navbar-toggle, &:hover, &:focus {
    @include bg-bd-color($brand-primary);
    .icon-bar {
      background-color: white;
    }
  }

  .navbar-collapse {
    border-color: $brand-primary;
  }

  a {
    color: white;
    padding: 19.5px 15px;
    text-align: center;
    &:hover {
      color: $brand-success;
    }
  }

  @mixin active-link {
    color: white;
    background: darken($brand-primary, 10%);
  }

  .navbar-nav > .active {
    @include active-link;
    > a, a:hover, a:focus {
      @include active-link;
    }
  }
}

.btn {
  padding: 10px 15px;
  border-width: 2px;

  &.btn-lg {
    padding: 18px 27px;
  }
}
.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

.form-group {
  .label-danger {
    background-color: white;
    color: $brand-danger;
  }
}

@media #{$small-device} {
  nav.navbar.navbar-default.navbar-fixed-top {
    .navbar-brand {
      padding-top: 5px;
      font-size: 3em;
    }
  }
}

