// @see bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
$small-device: "only screen and (min-width: 768px)";
$medium-device: "only screen and (min-width : 992px)";
$large-device: "only screen and (min-width : 1200px)";

$brand-primary: #2C3E50;
$brand-success: #18BC9C;
$gray-lighter: lighten(#000, 93.5%);
