<section id="portfolio">
  <div class="container">
    <sb-title title="home.portfolio.title"></sb-title>
    <div class="row">
      <sb-portfolio-item modal-id="portfolioModal1" image-url="images/portfolio/cabin.png"></sb-portfolio-item>
      <sb-portfolio-item modal-id="portfolioModal2" image-url="images/portfolio/cake.png"></sb-portfolio-item>
      <sb-portfolio-item modal-id="portfolioModal3" image-url="images/portfolio/circus.png"></sb-portfolio-item>
      <sb-portfolio-item modal-id="portfolioModal4" image-url="images/portfolio/game.png"></sb-portfolio-item>
      <sb-portfolio-item modal-id="portfolioModal5" image-url="images/portfolio/safe.png"></sb-portfolio-item>
      <sb-portfolio-item modal-id="portfolioModal6" image-url="images/portfolio/submarine.png"></sb-portfolio-item>
    </div>
  </div>
</section>
