<section id="contact">
  <div class="container">
    <sb-title title="home.contact.title"></sb-title>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- TODO -->
        <form name="contactForm" novalidate>
          <sb-text label="home.contact.name" name="contact-name" ng-model="contactModel.name" ng-required></sb-text>
          <sb-text ng-model="contactModel.email" label="home.contact.email" name="contact-email"></sb-text>
          <sb-text ng-model="contactModel.phone" label="home.contact.phone" name="contact-phone"></sb-text>
          <sb-text ng-model="contactModel.message" label="home.contact.message" name="contact-message" rows="5"></sb-text>
          <br>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="button" class="btn btn-success btn-lg"
                data-ng-click="btnSendContact()" translate>common.button.send</button>
              <button type="button" class="btn btn-default btn-lg"
                data-ng-click="btnCancelContact()" translate>common.button.cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
