<nav class="navbar navbar-default navbar-fixed-top"
  nav-animated scroll-threshold="300" ng-model="isOverThreshold"
  data-ng-class="{'navbar-shrink': isOverThreshold}" nav-scroll>

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target=".navbar-collapse" aria-expanded="false">

        <span class="sr-only" translate>home.navigation.toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://github.com/niqdev/startbootstrap-freelancer" target="_blank">
        <span class="icon-github"></span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#portfolio" translate>home.navigation.portfolio</a>
        </li>
        <li>
          <a href="#about" translate>home.navigation.about</a>
        </li>
        <li>
          <a href="#contact" translate>home.navigation.contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
